@use "variables" as *;

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;
  line-height: 1.15; // Correct the line height in all browsers.
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

*,
*::before,
*:after {
  box-sizing: inherit;
  margin: 0;
  transition-property: color, background-color, visibility, opacity;
  transition-duration: var(--duration-global);
}

*:focus {
  outline: var(--outline-default);
  outline-offset: 2px;
}

*:disabled {
  cursor: not-allowed;
}

body {
  height: 100%;
  width: 100%;
  color: var(--colour0-primary);
  background-color: var(--colour0-secondary);
  padding: 0;
  margin: 0;
}

main > section {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: stretch;
  gap: 1em;
  word-wrap: break-word;
  margin: 1em;
}

h1 {
  width: 100%;
  font-size: 2.2rem;
  text-transform: capitalize;
  text-align: center;
  word-wrap: break-word;
}

h2 {
  width: 100%;
  font-size: 2rem;
  text-align: start;
  word-wrap: break-word;
}

ul {
  list-style-type: none;
}

p,
li,
dt,
dd {
  line-height: 1.5;
}

p {
  word-break: break-all;
}

ul, 
ol {
  padding: 0 0 0 1em;
  margin: 0;
}

ol {
  list-style-position: outside;
}

ul {
  list-style: none;
}

li {
  text-align: inherit;
  word-break: break-all;
}

li > ul > li,
li > ol > li {
  font-size: 0.9em;
}

a {
  text-decoration: none;
  background-color: transparent; // remove the gray background on active links in IE 10.
  border-bottom: 0.125em solid transparent;
  outline: none;
  padding: 2px;
  transition: all var(--duration-global);

  &:link {
    color: var(--anchour-colour-primary);
  }
  
  &:visited {
    color: var(--anchour-colour-tertiary);
  }
  
  &:hover {
    border-bottom-color: inherit;
  }
  
  &:active {
    color: var(--anchour-colour-secondary);
    background-color: var(--anchour-colour-primary);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: var(--colour0-quarternary);
  padding: 0 2px;
}

img,
picture {
  max-width: 100%;
  height: auto;
  border-style: none; // Remove the border on images inside links in IE 10
}

svg {
  padding: 0.25em;
}

meter {
  width: 100%;
}

button,
input,
select, 
textarea {
  box-sizing: border-box;
  min-width: 44px;
  min-height: 44px;
  width: 100%;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em;
}

form {
  max-width: $width-mobile;
  
  & > * {
    padding: 0 1em;
    margin-bottom: 1em;

    &:first-child {
      padding-top: 1em;
    }

    &:last-child {
      padding-bottom: 1em;
      margin-bottom: 0;
    }
  }

  & button,
  & input,
  & select, 
  & textarea {
    margin: 0;
  }
}

label {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

input,
textarea {
  caret-color: inherit;
}

textarea {
  resize: vertical;
}

// TODO: fix vertical alignment
select {
  cursor: pointer;
}

progress {
  vertical-align: baseline; // Add the correct vertical alignment in Chrome, Firefox, and Opera.
}

button {
  cursor: pointer;
}

