html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--colour0-primary);
  background-color: var(--colour0-secondary);
  margin: 0;
}

h1 {
  width: 100%;
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  padding: 2px;

  &:link {
    color: var(--anchour-colour-primary);
  }
  
  &:visited {
    color: var(--anchour-colour-tertiary);
  }
  
  &:hover {
    border-bottom: 0.125em solid;
  }
  
  &:active {
    color: var(--anchour-colour-secondary);
    background-color: var(--anchour-colour-primary);
  }
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img,
picture {
  max-width: 100%;
  height: auto;
}

