:root {
  --colour0-primary : hsl(0, 0%, 85%);
  --colour0-secondary : hsl(0, 0%, 15%);

  --anchour-colour-primary: hsl(195, 100%, 70%);
  --anchour-colour-secondary: hsl(240, 100%, 50%);
  --anchour-colour-tertiary: hsl(210, 75%, 55%);
}
