@use "variables" as *;
@use "base";
@use "attributes";
@use "util";

.project-root {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;

  & > * {
    flex: 0 1;
    padding: 0.5em 1em;

    @media (min-width: $width-tablet) {
      padding: 1em 2em;
    }
  }
}

.main-content {
  flex: 1 1 auto;
}

.list-info {
  display: block;
  border: 0.25em solid var(--colour0-primary);
  padding: 1em;
}
