@use "/src/styles/variables" as *;

.item {
  flex: 0 0 $width-mobile;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-radius: 0.5em;
  border: 0.125em solid var(--colour0-primary);
  overflow: hidden;

  & > * {
    flex: 0 0;
    padding: 0.5em 1em;
  }
}

.header {
  width: 100%;
  display: grid;
  grid-template-areas: 
  "poster title";
  gap: 1em;
  border-bottom: 0.125em solid var(--colour0-primary);
  padding: 0;
}

.title {
  grid-area: title;
  text-align: center;
  padding: 0.5em;
}

.original {
  grid-area: original;
}

.poster {
  grid-area: poster;
  width: 7em;
  height: 5em;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.body {
  flex: 1 0 auto;
  padding: 0;
}

.footer {
  width: 100%;
  border-top: 0.125em solid var(--colour0-primary);
}
  
.genres {
  display: inline-flex;
  list-style: none;
  gap: 1em;
  justify-content: start;
  padding-left: 0;
}


